.dragicon {
	-fx-background-radius: 10; 
}

.icon-blue {
	-fx-background-image: url("../src/resources/bathroom.png");
	-fx-background-repeat: stretch;
	-fx-background-size: 10 10;
	-fx-background-position: center center;
}

.icon-red {
	-fx-background-color: red;
}

.icon-green {
	-fx-background-color: green;
}

.icon-black {
	-fx-background-color: black;
}

.icon-grey {
	-fx-background-color: grey;
}

.icon-yellow {
	-fx-background-color: yellow;
}

.icon-purple {
	-fx-background-color: purple;
}